body
{
	font-family: Arial; 
	margin:0;
	overflow-y: hidden;
}

h1
{
	font-size: 16px;
	color: #1E90FF;
}

ul
{
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.header
{
	z-index: 1;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #bdc3c7;
	padding: 0;
	margin: 0;
}

.left
{
	flex: 2;
	text-align: center;
}

.center
{
	flex: 3;
	border-left:1px solid #bdc3c7;
	border-right: 1px solid #bdc3c7;
	text-align: center;
}

.right
{
	flex: 1;
	text-align: center;
}

.main
{
	display: flex;
	justify-content: space-around;
	height: 885px;
}

.discussion
{
	flex: 2;
	flex-direction: column;
	text-align: center;
	border-right: 1px solid #bdc3c7;
	overflow-y: scroll;
}

.discussion::-webkit-scrollbar-track
{
	border-radius: 10px;
}

.discussion::-webkit-scrollbar
{
	width: 5px;
}

.discussion::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #bdc3c7;
}

.discussion::-webkit-scrollbar-thumb:hover
{
	background-color: #1E90FF;
}

/*
.discussion:hover, .bloc:hover > .discussion::-webkit-scrollbar {
	background-color: #bdc3c7;
	display: contents;
}
*/


.bloc 	
{
	height: 100px;
	border-bottom: 1px solid #bdc3c7;
	margin-right: 0;
}

.freenote
{
	flex: 3;
	text-align: center;
	border-right: 1px solid #bdc3c7;

}

.welcome
{
	margin-top: 40%;
}

.welcome h1
{
	font-size: 40px;	
}

.profil
{
	flex: 1;
	text-align: center;

}

.connexion, .inscription, .deconnexion
{  
	background-color: #1E90FF;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 80%;
	opacity: 0.9;
}

.deconnexion
{
	background-color: #cd201f;
	margin-top: 500px;
}

.connexion:hover, .inscription:hover, .deconnexion:hover
{
	opacity: 2;
}

.info
{
	text-align: center;
	padding-left: 0;
	margin-top: 50%;
}
